.button:active {
  background-color: #cccccc;
}

.button-up {
  background-color: #8bc34a; /* Green */
}

.button-up:hover {
  background-color: #79a93d;
}

.button-down {
  background-color: #f44336; /* Red */
}

.button-down:hover {
  background-color: #d32f2f;
}

.footer {
  background-color: #333;
}